/* Banner Introduce */
.banner-introduce {
  background-image: url(../images/gioithieu/bannergt.png);
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-introduce .inner-content {
  text-align: center;
}

.banner-introduce .inner-content h2 {
  color: white;
  margin-top: 20px;
  font-size: 48px;
  font-family: "Gotham-Ultra";
}

.banner-introduce .inner-content .inner-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .banner-introduce {
    height: 60vh;
    padding: 20px;
  }

  .banner-introduce .inner-content h2 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .banner-introduce {
    height: 70vh;
  }

  .banner-introduce .inner-content h2 {
    font-size: 28px;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .banner-introduce {
    height: 80vh;
  }

  .banner-introduce .inner-content h2 {
    font-size: 24px;
    margin-top: 10px;
  }

  .banner-introduce .inner-content {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .banner-introduce {
    height: 90vh;
  }

  .banner-introduce .inner-content h2 {
    font-size: 20px;
  }
}

/* End Banner Introduce */

/* Introduce */

.introduce {
  padding: 60px 0;
  background-color: #f9f9f9;
}


.introduce h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #2e3b52;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}


.introduce h2::after {
  content: "";
  width: 160px;
  height: 10px;
  background-color: #bd945f;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.introduce .section-content {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  line-height: 1.8;
}

.introduce .section-image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.content-box {
  border: 1px solid #bd945f;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}


.content-box:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.content-box h5 {
  color: #2e3b52;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.content-box p {
  color: #777;
  font-size: 14px;
}

.icon-img {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .content-box {
    padding: 15px;
    text-align: left;
  }

  .icon-img {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
  }

  .content-box h5 {
    font-size: 16px; 
  }

  .content-box p {
    font-size: 13px; 
  }
}


.introduce .section-image img {
  border: 2px solid #bd945f;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}


.introduce .section-image img {
  max-width: 100%;
  height: auto;
}

/* End Introduce */
