* {
  margin: 0;
  padding: 0;
  font-family: "Gotham-Medium";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
}

/* Button */
.btn-banner {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background: #bd945f;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.5s ease;
}

.btn-banner .content {
  position: relative; 
  z-index: 2; 
}
/* 3ad2d0 */

.btn-banner span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: white;
  transform: translateY(150%) scale(0.5); 
  border-radius: 50%;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  z-index: 1;
  pointer-events: none; 
}

.btn-banner span:nth-of-type(1) {
  left: 0%;
  transition-delay: 0.1s;
}

.btn-banner span:nth-of-type(2) {
  left: 25%;
  transition-delay: 0.2s;
}

.btn-banner span:nth-of-type(3) {
  left: 50%;
  transition-delay: 0.4s;
}

.btn-banner span:nth-of-type(4) {
  left: 75%;
  transition-delay: 0.6s;
}

.btn-banner:hover {
  color: #1E0F21; 
}

.btn-banner:hover span {
  transform: translateY(0) scale(2.74); 
  background-color: rgb(255, 223, 144); 
  pointer-events: none; 
}
/* End Button */

/* Header */
header .menu a {
  text-transform: uppercase;
  color: #000;
  position: relative;
}

header .menu ul, li {
  height: auto;
  align-content: center; 
  justify-content: space-between; 
  padding: 10px 0; 
}

header {
  padding: 1rem 0 1.75rem 0;
  position: relative;
}

header .menu ul li > a {
  padding: 0;
}

header .menu ul li > a::after {
  content: "";
  height: 5px;
  width: 70%;
  background-color: #bd945f;
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
}

header .menu ul li:hover > a::after,
header .menu ul li > a.active::after {
  display: block;
}

header .menu .nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header .menu ul li {
  margin: 10px 0;
}

header .menu.active {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 23%;
  left: 0;
  width: 100%;
  z-index: 20;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

header .inner-icon-mobi {
  display: none;
}

header .inner-icon-mobi.rotate {
  transform: rotate(90deg);
  transition-duration: 1s;
}


@media (min-width: 992px) {
  header .menu ul,
  header .menu ul li {
    height: 100%; /* Giữ chiều cao khi ở màn hình lớn */
    align-content: center;
    justify-content: space-between;
  }

  header .menu ul li {
    display: inline-block; /* Hiển thị các phần tử ngang hàng */
  }
}


@media (max-width: 991.98px) {
  header .menu ul li:first-child > a::after {
    display: none;
  }

  header .menu ul li:hover > a::after {
    display: block;
  }

  header .inner-icon-mobi {
    display: block;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 35%;
    color: #bd945f;
    z-index: 10;
  }

  header .menu {
    display: none;
  }

  header .menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  header .menu {
    transition: all 0.4s;
  }

  header .menu ul,
  header .menu ul li {
    height: auto;
    align-content: flex-start;
    justify-content: flex-start;
  }

  header .menu ul li {
    width: 100%; 
    text-align: left; 
  }

  header .menu {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  header .menu.active {
    transform: translateY(0);
    opacity: 1;
  }

  header .menu ul li a {
    padding: 10px 0;
    width: 100%;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0); 
    opacity: 1; 
  }
  100% {
    transform: translateY(-100%); 
    opacity: 0; 
  }
}

header .menu.active {
  transform: translateY(0);
  opacity: 1;
  animation: slideDown 1s ease-in-out; 
}

header .menu.hide {
  animation: slideUp 1s ease-in-out;
  transition-duration: 1s;
}
/* End Header */

