/* banner Trang chu */

#banner-trang-chu {
  background-image: url(../images/trangchu/TRANGCHU.png);
  height: 51.5rem;
}

#banner-trang-chu .container {
  position: relative;
}

#banner-trang-chu .container .banner-content {
  position: absolute;
  top: 7.25rem;
  left: 3.25rem;
}

#banner-trang-chu h3,span {
  font-family: Gotham-Ultra;
  font-size: 2.875rem;
  text-transform: uppercase;
}

#banner-trang-chu p {
  width: 35rem;
  text-align: justify;
}

/* #banner-trang-chu .btn-banner {
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  background-color: #bd945f;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  font-family: Gotham-Ultra;
} */

@media (max-width: 1024px) {
  #banner-trang-chu {
    height: 35.5rem;
  }

  #banner-trang-chu .container .banner-content {
    top: 5rem; 
    left: 2rem; 
  }

  #banner-trang-chu h3, #banner-trang-chu span {
    font-size: 2.5rem; 
  }

  #banner-trang-chu p {
    width: 30rem; 
  }
}

@media (max-width: 768px) {
  #banner-trang-chu {
    height: 25rem;
  }

  #banner-trang-chu .container .banner-content {
    top: 4rem; 
    left: 1.5rem; 
  }

  #banner-trang-chu h3, #banner-trang-chu span {
    font-size: 2rem; 
  }

  #banner-trang-chu p {
    width: 25rem; 
    font-size: 1rem; 
  }

  #banner-trang-chu .btn-banner {
    padding: 1rem 1.5rem; 
    font-size: 1rem; 
  }
}

@media (max-width: 600px) {
  #banner-trang-chu {
    height: 25rem; 
  }

  #banner-trang-chu .container .banner-content {
    position: relative;
    top: 2rem; 
    left: 0; 
    text-align: center; 
  }

  #banner-trang-chu h3, #banner-trang-chu span {
    font-size: 1.8rem; 
  }
  #banner-trang-chu p {
    width: 20rem; 
    margin: 0 auto; 
    font-size: 0.9rem; 
  }

  #banner-trang-chu .btn-banner {
    padding: 0.75rem 1rem; 
    font-size: 0.9rem; 
    margin: 0 auto;
  }
}
/* End banner Trang chu */

/* products */
#products{
  background-color: #f3f3f3;
  position: relative;
  padding-bottom: 50px;
}

#products .container {
  position: relative;
  top: -60px;
  margin: 0 auto;
  right: 0;
  left: 0;
}

#products .list-product {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 40px;
}

#products .list-product .item {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products .list-product .item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

#products .list-product .item p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 100%;
}

@media (max-width: 1024px) {
  #products .list-product {
    grid-template-columns: repeat(3, 1fr);
  }
  #products .list-product .item img {
    width: 130px; 
    height: 130px;
  }
}

@media (max-width: 768px) {
  #products .container {
    top: -40px; 
  }

  #products .list-product {
    grid-template-columns: repeat(2, 1fr); 
    padding: 20px; 
    gap: 15px; 
  }

  #products .list-product .item img {
    width: 115px; 
    height: 115px;
  }
}

@media (max-width: 600px) {
  #products .container {
    top: -30px;
  }

  #products .list-product {
    grid-template-columns: repeat(1, 1fr); 
    padding: 15px; 
    gap: 10px; 
  }

  #products .list-product .item img {
    width: 100px; 
    height: 100px;
  }

  #products .list-product .item p {
    font-size: 14px; 
  }
}
/* End products */

/* Top Product */
#top-product {
  background-color: #f3f3f3;
  border-radius: 10px;
}

#top-product .inner-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #2c2e53; 
  position: relative;
  margin-bottom: 50px;
}


#top-product .inner-title::after {
  content: '';
  display: block;
  width: 160px; 
  height: 10px; 
  background-color: #bd945f; 
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
}

#top-product .product-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

#slide-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#slide-content h2 {
  color: #2c2e53; 
  font-size: 1rem;
  font-weight: bolder;
  font-family: Gotham-Ultra;
  margin-top: 20px;
}

#slide-content .product-item {
  padding: 10px;
  text-align: center;
}

#slide-content .product-item>p {
  margin-top: -5px;
  color: #888888;
  font-size: 12px;
}

#slide-content .product-item .rating {
  color: #ffcc00;
  font-size: 1.6rem;
  padding: 0;
  margin-top: -12px;
  margin-bottom: 0px;
}

#slide-content .product-item .price {
  font-weight: bold;
  color: black;
  font-size: 12px;
}

.slick-prev,
.slick-next {
  font-size: 30px;
  line-height: 1;
  color: white;
  background-color: #bd945f;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.slick-prev {
  left: -60px; 
}

.slick-next {
  right: -60px; 
}

@media (max-width: 1200px) {
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(255, 132, 132, 0.1); 
    border: none;
    color: white;
    width: 45px; 
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease; 
  }

  .slick-prev:hover,
  .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.3); 
  }

  .slick-prev {
    left: 10px; 
  }

  .slick-next {
    right: 20px; 
  }
}

@media (max-width: 992px) {
  .slick-prev,
  .slick-next {
    width: 40px; 
    height: 40px;
  }
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 35px; 
    height: 35px;
  }
}

@media (max-width: 480px) {
  .slick-prev,
  .slick-next {
    width: 30px; 
    height: 30px;
    display: none;
  }
}


/* End Top Product */


/* about-us */

#about-us {
  background-image: url(../images/trangchu/bg-about-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#about-us::before {
  position: absolute;
  content: "";
  background-color: #0e0800;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

#about-us .container {
  position: relative;
  overflow: hidden;
}

#about-us h2,
#about-us h3,
.inner-desc {
  color: #ffffff;
}

#about-us .inner-title {
  position: relative;
  margin: 80px 0 50px;
  font-size: 40px;
  font-family: "Gotham-Ultra";
  text-align: center;
}

#about-us .inner-title::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 10px;
  background-color: #bd945f;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

#about-us .row.align-items-center {
  display: flex;
  align-items: stretch;
}

#about-us .left-image,
#about-us .inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-us .left-image img {
  height: 100%;
  object-fit: cover;
}

#about-us .inner-wrap {
  padding: 30px;
}

#about-us h3 {
  font-size: 24px;
}

#about-us h3:nth-child(2) {
  margin-bottom: 20px;
}

#about-us .inner-desc {
  font-size: 14px;
}

#about-us .inner-image {
  flex: 1;
  display: flex;
  align-items: center;
}

#about-us .inner-image img {
  height: 130px;
  width: auto;
}

#about-us .position-relative {
  position: relative;
}

#about-us a.btn-primary {
  position: absolute;
  top: 55px;
  background: none; 
  color: #fff; 
  font-size: 18px;
  border: none; 
  padding: 0; 
  align-items: center;
}

#about-us .position-relative a.btn-primary::after {
  content: " >"; 
  font-size: 18px; 
}

#about-us .position-relative a.btn-primary:hover {
  color: #fff; 
  text-decoration: underline; 
}


#about-us .inner-ask {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-family: "Gotham-Ultra";
  margin-bottom: 75px;
  margin-top: 110px;
}

#about-us .inner-ask::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 10px;
  background-color: #bd945f;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

#about-us .content-ask {
  margin-bottom: 60px;
}

#about-us .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
}

#about-us .card .d-flex {
  align-items: center;
  flex: 1; 
}

@media (max-width: 991px) {
  #about-us .row.align-items-center {
    flex-direction: column; 
  }

  #about-us .left-image,
  #about-us .inner-wrap {
    width: 100%;
    height: auto; 
    margin-bottom: 30px; 
  }

  #about-us .inner-title {
    font-size: 28px; 
    margin: 60px 0 30px;
  }

  #about-us h3 {
    font-size: 20px; 
  }

  #about-us .inner-desc {
    font-size: 12px;
  }

  #about-us .inner-image img {
    height: 100px; 
  }

  #about-us .card {
    flex-direction: row;
    align-items: center; 
    padding: 10px; 
  }

  #about-us .card .d-flex {
    flex-direction: column; 
    align-items: center;
  }

  #about-us .content-ask {
    margin-bottom: 30px; 
  }

  #about-us .inner-ask {
    font-size: 28px; 
    margin-top: 80px;
    margin-bottom: 50px;
  }

  #about-us .inner-ask::before {
    width: 100px;
  }
}

@media (max-width: 767px) {
  #about-us h2.inner-title {
    font-size: 24px; 
    margin: 50px 0 30px;
  }

  #about-us h3 {
    font-size: 18px; 
  }

  #about-us .inner-wrap {
    padding: 15px; 
  }

  #about-us .inner-desc {
    font-size: 11px; 
  }

  #about-us a.btn-primary {
    font-size: 16px; 
    top: 45px;
  }

  #about-us .inner-image img {
    height: 80px; 
  }

  #about-us .card {
    flex-direction: column; 
    align-items: center;
  }

  #about-us .card .d-flex {
    flex-direction: column;
    text-align: center; 
  }

  #about-us .card img {
    margin-bottom: 15px; 
  }

  #about-us .inner-ask {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  #about-us .inner-ask::before {
    width: 80px;
  }
}

@media (max-width: 575px) {
  #about-us .inner-title {
    font-size: 20px;
    margin: 40px 0 20px;
  }

  #about-us h3 {
    font-size: 16px; 
  }

  #about-us .inner-wrap {
    padding: 10px;
  }

  #about-us .inner-desc {
    font-size: 10px;
  }

  #about-us a.btn-primary {
    font-size: 14px;
    top: 35px;
  }

  #about-us .inner-image img {
    height: 60px; 
  }

  #about-us .card {
    padding: 5px;
    min-height: auto; 
  }

  #about-us .card .d-flex {
    flex-direction: column;
  }

  #about-us .card img {
    margin-bottom: 10px; 
  }

  #about-us .inner-ask {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  #about-us .inner-ask::before {
    width: 60px; 
  }
}

/* End about-us */


/* News */
#news .row {
  display: flex; 
  align-items: stretch; 
}

#news .inner-title {
  position: relative;
  margin-top: 130px;
  margin-bottom: 70px;
  font-size: 40px;
  font-family: "Gotham-Ultra";
}

#news .inner-title::before {
  content: '';
  display: block;
  width: 160px; 
  height: 10px; 
  background-color: #bd945f; 
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
}

#news .left-column, #news .right-column {
  border-radius: 10px;
  overflow: hidden; 
}

#news .left-column {
  position: relative;
}

#news .left-column img, #news .right-column img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

#news .left-column img:hover, #news .right-column img:hover {
  transform: scale(1.05); 
}

#news .content-overlay {
  position: relative;
  background-color: #bd945f; 
  padding: 20px;
  width: 100%;
  margin-top: -160px;
}

#news .content-overlay h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff; 
}

#news .content-overlay p {
  font-size: 1rem;
}

#news .right-column .item {
  border-radius: 10px;
  margin-bottom: 20px; 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #ffffff;
}

#news .right-column .item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  transform: translateY(-5px); 
}

#news .right-column .item img {
  width: 100%; 
  height: auto;
  margin-bottom: 0; 
}

#news .right-column .item h5 {
  margin-top: 0; 
  color: #bd945f;
}

#news .right-column .item p {
  margin: 0;
  font-size: 12px;
}

#news .read-more {
  display: block;
  padding-top: 15px;
  color: #e2a94f;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

#news .read-more:hover {
  color: #f29d50; 
}

@media (max-width: 991px) {
  #news .row {
    flex-direction: column;
  }

  #news .left-column,
  #news .right-column {
    width: 100%;
    margin-bottom: 30px;
  }

  #news .left-column {
    order: 1;
  }

  #news .right-column {
    order: 2;
  }

  #news .inner-title {
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  #news .content-overlay {
    margin-top: -100px;
    padding: 15px;
  }

  #news .content-overlay h4 {
    font-size: 1.25rem;
  }

  #news .content-overlay p {
    font-size: 0.9rem;
  }

  #news .right-column .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  #news .right-column .item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #news .right-column .item h5 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
  }

  #news .right-column .item p {
    font-size: 0.85rem;
    text-align: center;
  }

  #news .read-more {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }
}


@media (max-width: 768px) {
  #news .inner-title {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  #news .content-overlay {
    margin-top: -80px;
    padding: 10px;
  }

  #news .content-overlay h4 {
    font-size: 1rem;
  }

  #news .content-overlay p {
    font-size: 0.8rem;
  }

  #news .right-column .item {
    flex-direction: column;
    text-align: center;
  }

  #news .right-column .item img {
    width: 100%;
    height: auto;
  }

  #news .right-column .item h5 {
    font-size: 0.95rem;
  }

  #news .right-column .item p {
    font-size: 0.75rem;
  }

  #news .read-more {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #news .inner-title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  #news .content-overlay {
    margin-top: -60px;
    padding: 10px;
  }

  #news .content-overlay h4 {
    font-size: 0.9rem;
  }

  #news .content-overlay p {
    font-size: 0.7rem;
  }

  #news .right-column .item {
    padding: 10px;
    min-height: auto;
  }

  #news .right-column .item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #news .right-column .item h5 {
    font-size: 0.85rem;
  }

  #news .right-column .item p {
    font-size: 0.65rem;
  }

  #news .read-more {
    font-size: 12px;
  }
}

/* End News */

/* Partners */

.partners-section {
  text-align: center;
  padding: 50px 0;
}

.partners-section h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.partners-section h2::after {
  content: '';
  display: block;
  width: 160px; 
  height: 10px; 
  background-color: #bd945f; 
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
}

.partners-slider {
  width: 80%;
  margin: 0 auto;
}

.partners-slider div {
  text-align: center;
}

.partners-slider img {
  max-width: 150px; 
  height: auto;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.partners-slider img:hover {
  transform: scale(1.1);
}

.slick-slide {
  margin: 0 10px; 
}

/* End Partners */

/* contact */

.service-experience-section {
  background-image: url('../images/trangchu/lienhe-bg.jpg'); 
  background-size: cover;
  background-position: center;
  position: relative;
  height: 350px;
  color: #fff;
}

.service-experience-section .content {
  position: relative;
  z-index: 2;
}

.service-experience-section h2 {
  font-size: 28px; 
  font-weight: normal;
  margin: 0;
}

.service-experience-section h2 strong {
  font-weight: bold;
}

.service-experience-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: right;
}

.service-experience-section .form-control {
  width: 250px;
}

.service-experience-section .btn-primary {
  background-color: #bd945f;
  border-color: #bd945f;
  font-weight: bold;
}

.service-experience-section .btn-primary:hover {
  background-color: #a3784c;
  border-color: #a3784c;
}

/* End contact */

